@media only screen and (min-width: 1200px) {
    .col-20 {
        width: 18.5% !important;
        margin: 0 8px;
    }

}

@media only screen and (min-width:992px) and (max-width:1199px) {

    .rt-top-img {
        height: 200px !important;
    }

    .col-20 {
        width: 18.3% !important;
    }

    #suggest .navigation ul li {
        width: 102px !important;
    }

    .pdt-inner-box ul li a {
        padding: 5px 22px !important;
    }

    #add .ban-rt-pdt .rt-top-img {
        height: 234px !important;
        margin-bottom: 0;
    }

    .product-info .pdt-title h3 a {
        font-size: 12px !important;
    }
}

@media(max-width: 1199px) {
    .header {
        display: block !important;
    }

}

@media only screen and (min-width:768px) and (max-width:991px) {
    #head-middle h1 a {
        font-size: 32px !important;
    }

    #banner .rt-top-img {
        height: 149px !important;
        margin-bottom: 25px !important;
    }

    #head-middle h1 {
        margin-bottom: 0 !important;
        line-height: 1 !important;
    }

    .serve-icon {
        margin-left: auto;
    }

    #add .rt-top-img {
        height: 167px !important;
    }

    .col-20 {
        width: 17.6% !important;
    }

    .pdt-inner-box ul li a {
        padding: 5px 12px !important;
    }

    .pdt-cart a {
        font-size: 11px !important;
    }

    .action-content {
        padding-top: 45px !important;
    }

    .action-content h1 {
        font-size: 30px !important;
    }

    .section-head::after {
        left: 25% !important;
        right: 10% !important;
    }

}

@media only screen and (min-width:570px) and (max-width:767px) {
    .head-top-rt {
        position: relative;
    }

    
    #head-middle h1 a {
        font-size: 32px !important;
    }

    #head-middle h1 {
        margin-bottom: 15px !important;
    }

    
    .action-content h1 {
        font-size: 36px !important;
    }
    .section-head::after{
        left: 30% !important;
        right: 13% !important;
    }
    #banner .rt-top-img{
        height: 230px !important;
    }
}

@media only screen and (max-width:569px) {
    .header .nav-menu{
        width: 240px !important;
    }
    #banner .rt-top-img{
        height: 150px !important;
    }
    #banner .rt-top-img img{
        height: 100%;
    }
    .cat-nav ul li a{
        font-size: 14px !important;
    }
    .action-content h1 {
        font-size: 30px !important;
    }
    .section-head{
        font-size: 16px !important;
    }
    .section-head::after {
        left: 40% !important;
        right: 20% !important;
    }
    .b-to-t{
        font-size: 36px !important;
        width: 40px !important;
        height: 40px !important;
        right:30px !important;
        line-height: 30px !important;
    }
    .swich li{
        margin-right: 0 !important;
    }
    .head-top-rt ul{
        width: 110px !important;
    }
    .slick-slide img{
        display: block !important;
    }
}

@media only screen and (max-width:767px) {
    .head-top-rt::after {
        content: "\f13d";
        position: absolute;
        font-family: FontAwesome;
        right: 2px;
        top: -6px;
        font-size: 16px;
        color: #888;
        z-index: 1;
        cursor: pointer;
        padding: 5px 10px;
        line-height: 25px;
    }
    .head-top-rt ul {
        display: block !important;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #fff;
        border: 1px solid #999;
        border-bottom-color: transparent;
        text-align: left;
        visibility: hidden !important;
        z-index: 777;
        opacity: 0;
        transition: all 0.3s ease-out 0s;
        -webkit-transition: all 0.3s ease-out 0s;
    }
    .head-top-rt:hover ul{
        opacity: 1 !important;
        top: 30px !important;
        visibility: visible !important;
    }

    .head-top-rt ul li {
        display: block !important;
        border-bottom: 1px solid #999;
    }
    .head-top-rt ul li a{
        padding: 5px 10px !important;
    }
    .serve-icon {
        margin: 0 auto !important;
    }

}